.container {
    display: flex;
}

.X {
    height: 20px;
    width: 20px;
    background-color: white;
    color: gray;
    margin-left: 5px;
    cursor: pointer;
}

.Box {
    border: solid black 1px;
    border-color: black;
}